@import "tailwindcss";
@import "./fonts.css";

@theme {
  --font-poppins: "Poppins", ui-sans-serif, system-ui, sans-serif;

  --color-primary-50: #f0fdf4;
  --color-primary-100: #D1ECDE;
  --color-primary-200: #bbf7d0;
  --color-primary-300: #86efac;
  --color-primary-400: #4ade80;
  --color-primary-500: #41B883;
  --color-primary-600: #16a34a;
  --color-primary-700: #15803d;
  --color-primary-800: #166534;
  --color-primary-900: #14533d;
  --color-secondary: #34495E;
}

@layer base {
  html {
    @apply scroll-smooth overflow-x-hidden;
  }

  body {
    @apply font-poppins bg-linear-to-r from-primary-50 to-primary-100/60;
  }
}
